<app-navbar></app-navbar>

<div class="max-w-4xl mx-auto mt-8 px-4">

  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold">Events</h1>

    <button 
      (click)="goToCreate()"
      class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition">
      + Create Event
    </button>
  </div>

  <div class="flex items-center gap-2 mb-6 relative">
  <input 
    type="text"
    [(ngModel)]="searchText"
    placeholder="Search..."
    class="border px-3 py-2 rounded w-full pr-10"
  />

  <button type="button" (click)="showFilter = !showFilter" 
        class="absolute right-2 text-gray-500 hover:text-gray-700">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2l-7 8v5l-4 2v-7L3 6V4z"/>
  </svg>
</button>

  <div *ngIf="showFilter" class="absolute top-12 right-0 bg-white border rounded shadow p-4 w-64 z-10">
    <h3 class="font-semibold mb-2">Filters</h3>
    <div class="mb-2">
      <label class="block text-sm mb-1">Keyword</label>
      <input type="text" [(ngModel)]="searchKeyword" placeholder="Enter keyword" class="border px-2 py-1 rounded w-full" />
    </div>
    <div class="mb-2">
      <label class="block text-sm mb-1">Date From</label>
      <input type="date" [(ngModel)]="dateFrom" class="border px-2 py-1 rounded w-full" />
    </div>
    <div class="mb-2">
      <label class="block text-sm mb-1">Date To</label>
      <input type="date" [(ngModel)]="dateTo" class="border px-2 py-1 rounded w-full" />
    </div>
    <div class="mb-2">
      <label class="block text-sm mb-1">Role</label>
      <select [(ngModel)]="role" class="border px-2 py-1 rounded w-full">
        <option value="">Any</option>
        <option value="organizer">Organizer</option>
        <option value="attendee">Attendee</option>
      </select>
    </div>
    <button 
      type="button"
      (click)="search()"
      class="bg-blue-600 text-white px-4 py-2 rounded w-full hover:bg-blue-700"
    >
      Apply
    </button>
  </div>
</div>



  <div *ngIf="events.length === 0" class="text-gray-600">
    No events found.
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <app-event-card 
      *ngFor="let event of events"
      [event]="event">
    </app-event-card>
  </div>

</div>
